* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 5%;
  background-image: linear-gradient(to left bottom, 
                                   #c087a7, #bc8ebb, #b297cf, 
                                   #a1a2e0, #89adee, #6db7f6, 
                                   #49c0f9, #00c9f7, #00d2ec, 
                                   #00d9d9, #00debf, #4ee1a1);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: center;
}

.header__title {
  color: white;
}

.inputBlock {
  width: 50%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputBlock input {
  width: 100%;
  padding: 7px;
  border: none;
  box-shadow: 5px 5px 8px grey;
  font-size: 18px;
  outline: none;
  border-radius: 3px;
  margin-bottom: 10px;
  cursor: pointer;
}

.inputBlock label {
  font-size: 18px;
  font-weight: 600;
}

.submitButton {
  background-color: aquamarine;
}


.tasks {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.task {
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 8px 20px;
   border: 2px solid #4ee1a1;
   box-shadow: 5px 5px 8px grey;
   margin-bottom: 15px;
}

.trash-icon {
  font-size: 18px;
  cursor: pointer;
  color: red;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}